<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Location</key>
	<dict>
		<key>Metrics</key>
		<dict>
			<key>Record</key>
			<dict>
				<key>year</key>
				<integer>0</integer>
				<key>month</key>
				<integer>0</integer>
				<key>value</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
